.input-wrapper {
  padding: 3px;
}

.tournament {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

.team-add-content {
  padding: 5px;
}

.round {
  margin: 5px;
}

.input-tournament-size {
  display: inline-block;
  max-width: 200px;
  margin-right: 2px;
}
