.ranking {
  max-width: 1000px;
  margin: 0 auto 20px;
}

.team {
  display: flex;
  justify-content: space-between;
}

.members {
  display: flex;
}

.member-icon {
  margin: 0 2px;
}

.team-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-row {
  cursor: pointer;
}

.team-name span {
  display: inline-block;
}

.team-dialog {
  overflow-y: scroll;
  min-width: 95%;
}

.icon-column {
  max-width: 60px;
}
